@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Victor's Blog</h1>
    <p>Studying .NET...</p>
    <div class="containerAll">
        <ul>
            <li class=columnOne>V<div><a href='#'>C#</a></div></li>
            <li class=columnTwo>I<div>ASP.NET</div></li>
            <li class=columnThree>C<div>Writing</div></li>
            <li class=columnFour>T<div>Speaking</div></li>
            <li class=columnFive>O<div>Draft</div></li>
            <li class=columnSix>R<div>Marine</div></li>
        </ul>
    </div>
</div>
