@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Victor's Blog</h1>
    <p>Studying .NET...</p>
    <ul class="containerAll">
        <li class=columnOne>V</li>
        <li class=columnTwo>I</li>
        <li class=columnThree>C</li>
        <li class=columnFour>T</li>
        <li class=columnFive>O</li>
        <li class=columnSix>R</li>
    </ul>
</div>
